.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.margin-form{
    margin-top: 5%;
    margin-bottom: 5%;
}
.box_login{
    padding: 2%;
    width:30vw;
    height: auto;
    background-color: #f8f5f3 !important;
}